{% extends 'base.html' %}
{% block title %}{{ current_course.name }}-公开课章节信息{% endblock %}
{% block css %}
    <style>
        #course_introduce {
            height: 125px;
            background-color: #504d3b;
            color: white;
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding-left: 2px;padding-right: 2px">
            <ol class="breadcrumb" style="margin-top:8px;margin-bottom: 0">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li><a href="{% url 'courses:course_list' %}">公开课</a></li>
                <li><a href="{% url 'courses:course_detail' current_course.id %}">课程详情</a></li>
                <li class="active">章节信息</li>
            </ol>
        </div>
        <div class="col-md-12" style="padding-left: 2px;padding-right: 2px;margin:30px 0">
            <div id="course_introduce">
                <div style="font-size: 28px;font-weight: bold;padding:10px">{{ current_course.name }}</div>
                <div class="pull-left" style="padding-left: 10px;">
                    <span style="display: block;opacity: .6">
                         {% if current_course.level == 'cj' %}
                             初级
                         {% elif current_course == 'zj' %}
                             中级
                         {% elif current_course == 'gj' %}
                             高级
                         {% endif %}
                    </span>
                    <span style="display: block;opacity: .4;font-size: 14px;margin-top: 5px">难度</span>
                </div>
                <div class="pull-left" style="margin-left: 100px;border-left: 1px solid #666666;padding-left: 20px">
                    <span style="display: block;opacity: .6">{{ current_course.study_time }}</span>
                    <span style="display: block;opacity: .4;font-size: 14px;margin-top: 5px">时长</span>
                </div>
                <div class="pull-left" style="margin-left: 100px;border-left: 1px solid #666666;padding-left: 20px">
                    <span style="display: block;opacity: .6">{{ current_course.study_num }}</span>
                    <span style="display: block;opacity: .4;font-size: 14px;margin-top: 5px">学习人数</span>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="padding: 0 2px">
            <div style="background-color: #f8f8f8;height: 50px;line-height: 50px;border: 1px solid #dddddd">
                <ul style="padding-left: 0;">
                    <li style="float: left;list-style-type: none;margin: 0 16px;">
                        <a style="color: #333;text-decoration:none;height: 50px;display: inline-block"
                           href="{% url 'courses:course_video' current_course.id %}">章节</a>
                    </li>
                    <li style="float: left;list-style-type: none;margin: 0 16px;">
                        <a style="color: #f01400;font-weight:bold;text-decoration: none;height: 50px;display: inline-block;border-bottom: 0 solid red;border-bottom-width: medium;"
                           href="{% url 'courses:course_comment' current_course.id %}">评论</a>
                    </li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <textarea id="comment_content" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <div>
                                <button type="button" class="btn btn-success" id="send_comment">发表评论</button>
                            </div>
                        </div>
                    </form>
                    {% for comment in pages %}
                        <hr>
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:">
                                    <img width="70" class="media-object img-circle" data-src="" alt="64x64"
                                         data-holder-rendered="true"
                                         src="/static{{ MEDIA_URL }}{{ comment.comment_man.image }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <p style="text-decoration:none;color: #333333">
                                <h4 class="media-heading">{{ comment.comment_man.nick_name }}</h4>
                                </p>
                                <ul style="font-size: 12px;list-style: none;padding:0">
                                    <li style="margin-top: 5px;">
                                        {{ comment.comment_content }}
                                    </li>
                                    <li style="margin-top: 5px;color: #848484;">
                                        发表于：{{ comment.add_time }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <nav aria-label="Page navigation" class="text-center" style="padding-bottom: 10px">
                <ul class="pagination">
                    <li>
                        <a href="?page_num=1"
                           aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    {% if pages.has_previous %}
                        <li>
                            <a href="?page_num={{ pages.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="javascript:" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in pages.paginator.page_range %}
                        {% if pages.number == num %}
                            <li class="active"><a
                                    href="?page_num={{ num }}">{{ num }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page_num={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.has_next %}
                        <li>
                            <a href="?page_num={{ pages.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="javascript:" aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="?page_num={{ num_pages }}"
                           aria-label="Previous">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3" style="padding: 0 2px">
            <div class="panel panel-default" style="margin-bottom: 8px">
                <div class="panel-heading">资料下载</div>
                <div class="panel-body">
                    <div>
                        <span class="pull-left"><span class="glyphicon glyphicon-folder-open"></span>课程相关资料</span>
                        <a href="/static{{ MEDIA_URL }}{{ current_course.sourceinfo_set.all.0.down_load }}"><span
                                class="glyphicon glyphicon-download-alt pull-right"
                                style="color: #39b94e;"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 8px">
                <div class="panel-heading">讲师</div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="">
                                <img width="50" class="media-object img-circle" data-src="" alt="64x64"
                                     data-holder-rendered="true"
                                     src="/static/{{ MEDIA_URL }}{{ current_course.teacher_info.image }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="" style="text-decoration:none;color: #333333">
                                <h4 class="media-heading">{{ current_course.teacher_info.name }}</h4>
                            </a>
                            <ul style="font-size: 12px;">
                                <li style="margin-top: 8px;color: #848484;">
                                    {{ current_course.teacher_info.work_company }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">学过该课程的同学还学过</div>
                <div class="panel-body" style="padding: 8px">
                    {% for course in course_list %}
                        <div class="thumbnail" style="margin-bottom:8px">
                            <a href="{% url 'courses:course_detail' course.id %}">
                                <img data-src="holder.js/100%x150" alt="100%x150"
                                     src="/static{{ MEDIA_URL }}{{ course.image }}">
                            </a>
                            <div class="caption" style="padding-bottom: 0">
                                <h5 style="font-weight: bold">{{ course.name }}</h5>
                                <p style="font-size: 12px;color: #9f9f9f">
                                        <span>
                                            学习时长：
                                            <span style="color: #fb8341">
                                                {{ course.study_time }}
                                            </span>
                                        </span>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <!--版权-->
    <!-- <div class="col-md-12  text-center wow animate__animated animate__backInDown animate__delay-2s"-->
    <div class="col-md-12  text-center wow animate__animated animate__fadeIn"
         style="padding: 25px 0 25px;background: brown;margin-top: 8px">
        <p style="margin: 0">
            <a href="" style="color:white;font-weight: bold">关于本站</a>&nbsp;&nbsp;
            <a href="" style="color:white;font-weight: bold">免责申明</a>&nbsp;&nbsp;
            <a href="" style="color:white;font-weight: bold">联系我们</a>&nbsp;&nbsp;
            <a href="" style="color:white;font-weight: bold">本站蓝图</a>&nbsp;&nbsp;
        </p>
        <p style="margin: 0">
            <span style="color: white;font-weight: bold">Copyright © 2020-2022&nbsp; edu.pythoneers.cn. All Rights Reserved.</span>
        </p>
        <p style="margin: 0">
            <a target="_blank_" href="http://www.miit.gov.cn/"
               style="color:white;font-weight: bold">豫ICP备19037971号</a>
            <a target="_blank">
                <img src="{% static "public/images/beian.png" %}" style="padding-bottom:6px">
                <span style="color:white;font-weight: bold">豫公网安备 41152802000091号</span>
            </a>
            <!--<span>版本号:1.1.0.190402_alpha</span>-->
            <span>
             <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
             document.write(unescape("%3Cspan id='cnzz_stat_icon_1278138602'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278138602%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            <span id="cnzz_stat_icon_1278138602"></span>
            <script src="http://s4.cnzz.com/z_stat.php?id=1278138602&amp;show=pic" type="text/javascript"></script>
            <script src="http://c.cnzz.com/core.php?web_id=1278138602&amp;show=pic&amp;t=z" charset="utf-8"
                    type="text/javascript">
            </script>
    </span>
        </p>
    </div>
    <!--/版权-->
{% endblock %}
{% block js %}
    <script>
        $('#nav-courses').css({'color': '#a52a2a'})
        $(function () {
            $('#send_comment').click(function () {
                let course_id = {{ current_course.id }};
                let comment_content = $('#comment_content').val();
                $.ajax({
                    url: '{% url 'operations:user_comment' %}',
                    type: 'post',
                    data: {
                        'course_id': course_id,
                        'comment_content': comment_content,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (callback) {
                        if (callback.status === 'ok') {
                            alert('恭喜您' + callback.msg)
                            $('#comment_content').val('')
                        } else {
                            alert('很遗憾' + callback.msg)
                            $('#comment_content').val('')
                        }
                        location.reload()
                    }
                })
            })
        })
    </script>
{% endblock %}