{% extends 'base.html' %}
{% block title %}
    重置密码
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forgetpwd.css' %}">
{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 8px">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span>&nbsp;重置密码</h3>
                </div>
                <div class="panel-body">
                    <p style="color:red;font-weight: bold">{{ msg }}</p>
                    <form role="form" method="post" novalidate action="{% url 'users:reset' code %}" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <label for="pwd"><span
                                        class="glyphicon glyphicon-envelope"></span>
                                    新密码
                                </label>
                                <input id="pwd" autocomplete="on" name="password" class="form-control" type="password"
                                       placeholder="6~20位非中文字符">
                                <div style="color: red;font-weight: bold">{{ user_reset_form.errors.password }}</div>
                            </div>
                            <div class="form-group">
                                <label for="repwd"><span
                                        class="glyphicon glyphicon-envelope"></span>
                                    确定密码
                                </label>
                                <input id="repwd" autocomplete="on" name="password2" class="form-control"
                                       type="password"
                                       placeholder="6~20位非中文字符">
                                <div style="color: red;font-weight: bold">{{ user_reset_form.errors.password2 }}</div>
                            </div>
                            <div class="col-md-12">
                                {% csrf_token %}
                                <input id="submit" class="form-control btn btn-block" type="submit" value="确认重置">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}